@media screen and (max-width:576px) {
  
    *{
        margin: 0 auto;
       
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
        flex-direction: column;
    }
    .nav-item-container a{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
       
    }
    .banner-content, .banner-image{
        width: 100%;

    }
    .funny-section{
        width: 100%;
        margin-top: 50px;
    }
    .funny-videos{
        
        flex-direction: column;
        
    }
    .funny-card{
        margin-top: 50px;
    }
    .play-container{
        flex-direction: column;
        width: 100%;
    }
    .play-content{
        margin-top: 50px;
    }
    .play-image{
        margin-top: 60px;
        
    }
}