@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
        flex-direction: column;
    }
    .nav-item-container a{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
}